@font-face{
	font-family:"P8";
	src:url("pico-8.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"scp";
	src:url("Sauce Code Pro Medium Nerd Font Complete Mono Windows Compatible");
	font-weight:normal;
	font-style:normal;
}
